mixin setGrade(grade)
    - var str = "width: " + grade + "%"
    .software__scale
    .software__scale.software__scale-progressed(style=str)

mixin setQuantity(val)
    - var maxQuanity = 12
    - for(var i = 0; i < maxQuanity; i++)
        if(i < val)
            .quantity__item
        else
            .quantity__item.quantity__item-disabled

mixin setTitle(path, title, shiftLeft, shiftDown, lineToLeft, textToLeft)
    - var str = "margin-left: " + shiftLeft + "px" + " ; margin-bottom: " + shiftDown + "px"
    - var str2 = "margin-right: " + lineToLeft + "px" + " ; margin-left: " + textToLeft + "px"
    .blockTitle(style=str) 
        img.blockTitle__img(src=path)
        .blockTitle__header(style=str2) #{title}
        .blockTitle__line

mixin createInfoBlog(blogHeader, date, blogTag, details, headerStyle)
    .infoBlog
        .infoBlog__content
            .infoBlog__brief
                span(class="infoBlog__header " + headerStyle) #{blogHeader}
                span.infoBlog__date.fontStage2 #{date}
            .infoBlog__tag.largeText #{blogTag}
            .infoBlog__details #{details}