mixin setGrade(grade)
    - var str = "width: " + grade + "%"
    .software__scale
    .software__scale.software__scale-progressed(style=str)

mixin setQuantity(val)
    - var maxQuanity = 12
    - for(var i = 0; i < maxQuanity; i++)
        if(i < val)
            .quantity__item
        else
            .quantity__item.quantity__item-disabled

mixin setTitle(path, title)
    .blockTitle 
        img.blockTitle__img(src=path)
        .blockTitle__header #{title}
        .blockTitle__line

mixin createInfoBlog(blogHeader, date, blogTag, details, headerStyle)
    .infoBlog
        .infoBlog__content
            .infoBlog__brief
                div(class="infoBlog__header " + headerStyle) #{blogHeader}
                .infoBlog__date #{date}
            .infoBlog__tag #{blogTag}
            .infoBlog__details #{details}